<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>Sms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Studentlogin</display-name>
    <servlet-name>Studentlogin</servlet-name>
    <servlet-class>Studentlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentlogin</servlet-name>
    <url-pattern>/Studentlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateprofile</display-name>
    <servlet-name>updateprofile</servlet-name>
    <servlet-class>updateprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateprofile</servlet-name>
    <url-pattern>/updateprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changepass</display-name>
    <servlet-name>changepass</servlet-name>
    <servlet-class>changepass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepass</servlet-name>
    <url-pattern>/changepass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signout</display-name>
    <servlet-name>signout</servlet-name>
    <servlet-class>signout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletestudent</display-name>
    <servlet-name>deletestudent</servlet-name>
    <servlet-class>deletestudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletestudent</servlet-name>
    <url-pattern>/deletestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>admin.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindelete</display-name>
    <servlet-name>admindelete</servlet-name>
    <servlet-class>admindelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindelete</servlet-name>
    <url-pattern>/admindelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminchangepass</display-name>
    <servlet-name>adminchangepass</servlet-name>
    <servlet-class>adminchangepass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminchangepass</servlet-name>
    <url-pattern>/adminchangepass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogout</display-name>
    <servlet-name>adminlogout</servlet-name>
    <servlet-class>adminlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogout</servlet-name>
    <url-pattern>/adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlog</display-name>
    <servlet-name>adminlog</servlet-name>
    <servlet-class>adminlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlog</servlet-name>
    <url-pattern>/adminlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminupdateprofile</display-name>
    <servlet-name>adminupdateprofile</servlet-name>
    <servlet-class>adminupdateprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdateprofile</servlet-name>
    <url-pattern>/adminupdateprofile</url-pattern>
  </servlet-mapping>
</web-app>